---
title: Designer
sortorder: 4
class: section-designer
---

<img src="{{assets}}/img/gx_louise_campbell.jpg" alt="Louise Campbell">
<p>
	<span class="caps">Louise Campbell</span> is a pioneer in innovative, contemporary design and one of the world’s leading creative talents. She has won numerous awards for her design work and has a knack for twisting familiar elements to create something new and unique.
</p>
