---
title: New narrative
sortorder: 3
class: section-narrative
---


<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-20 -40 553 813">
	<defs>
		
	    <filter id="product-shadow">
	        <feOffset in="SourceAlpha" dx="10" dy="-10" result="offset" />
	        <feGaussianBlur in="offset" stdDeviation="20"  result="blur"/>

	        <feMerge>
	            <feMergeNode in="blur" />
	            <feMergeNode in="SourceGraphic" />
	        </feMerge>
	    </filter>

	</defs>
    <g filter="url(#product-shadow)">
       <clipPath id="cloudshape-mask">
          <path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M351,36c0.853,3.151,2.095,2.867,3,6c2.667,1.333,5.333,2.667,8,4
			c0,0.667,0,1.333,0,2c0.569,0.89,2.129,3.372,3,4c1.333,0.333,2.667,0.667,4,1c1.975,1.42,1.803,4.272,3,6
			c0.339,0.489,2.503,2.623,3,3c0.667,0,1.333,0,2,0c1.963,1.532,3.403,6.231,4,9c4.887,1.545,4.899,3.919,7,8c0,0.667,0,1.333,0,2
			c1.333,1,2.667,2,4,3c1.287,1.927,0.876,4.917,2,7c0.614,1.139,3.401,2.857,4,4c0.333,2.333,0.667,4.667,1,7
			c0.006,0.016,1.973,1.95,2,2c0,0.667,0,1.333,0,2c0.667,0.333,1.333,0.667,2,1c0.333,2.333,0.667,4.667,1,7c0.333,0,0.667,0,1,0
			c0,1,0,2,0,3l2,2c0,1,0,2,0,3c0.333,0,0.667,0,1,0c0,2,0,4,0,6l2,2c0,2,0,4,0,6c0.333,0,0.667,0,1,0c0,1.667,0,3.333,0,5
			c0.382,0.971,2.528,2.23,3,3c0.333,1.333,0.667,2.667,1,4c0.333,0,0.667,0,1,0c0,1.667,0,3.333,0,5c1.054,2.592,4.772,3.833,6,6
			c0.333,2.333,0.667,4.667,1,7c0.632,1.281,4.305,3.894,5,5c1.309,2.084-0.071,4.313,1,7c0.333,0,0.667,0,1,0c0,0.667,0,1.333,0,2
			c0.444,0.757,2.61,2.049,3,3c0.333,3,0.667,6,1,9c0.373,0.946,2.565,2.253,3,3c0,0.667,0,1.333,0,2c0.333,0,0.667,0,1,0
			c0,2.667,0,5.333,0,8l3,4c0.333,3.667,0.667,7.334,1,11c0.343,0.675,2.667,2.121,3,3c1.481,3.909-0.097,7.766,2,11
			c1.092,1.684,4.796,4.062,6,6c0.333,1.667,0.667,3.333,1,5c1.667,1.333,3.333,2.667,5,4c1.326,2.07-0.081,4.328,1,7
			c0.873,2.157,3.879,3.253,5,5c0.667,2.667,1.333,5.333,2,8c1.333,1,2.667,2,4,3c0,2,0,4,0,6c0.333,0,0.667,0,1,0
			c0.333,1.333,0.667,2.667,1,4c0.165,0.271,2.773,2.405,3,3c0,2,0,4,0,6c0.333,0,0.667,0,1,0c0,1,0,2,0,3
			c0.667,0.333,1.333,0.667,2,1c0.333,3,0.667,6,1,9l3,4c0.333,3,0.667,6,1,9c0.333,0,0.667,0,1,0c0,1,0,2,0,3l2,3c0,2,0,4,0,6
			c0.333,0,0.667,0,1,0c0,1.333,0,2.667,0,4c0.333,0,0.667,0,1,0c0,3,0,6,0,9c0.333,0,0.667,0,1,0c0,1.333,0,2.667,0,4
			c0.333,0,0.667,0,1,0c0.848,3.016-0.971,6.43-1,8c0.333,0,0.667,0,1,0c0,1.333,0,2.667,0,4c0.333,0,0.667,0,1,0
			c0.168,0.604,1,17,1,17l-2,3c-0.615,2.602,1.712,6.246,2,8c0.029,0.18-0.679,2.972-1,4c-0.333,0-0.667,0-1,0
			c-1.026,3.57,1.413,6.689,1,9l-2,3c0,4,0,8,0,12l-2,2c0,3.667,0,7.333,0,11l-2,2c0,3,0,6,0,9l-3,4c0,2.333,0,4.667,0,7
			c-0.333,0-0.667,0-1,0c-0.667,2-1.333,4-2,6c-0.333,0-0.667,0-1,0c0,2.333,0,4.667,0,7c-0.333,0-0.667,0-1,0c0,0.667,0,1.333,0,2
			c-1,0.667-2,1.333-3,2c-0.333,3-0.667,6-1,9c-0.521,1.074-3.496,2.922-4,4c-1.409,3.014-0.23,6.275-2,9c-1,0.667-2,1.333-3,2
			c0,0.667,0,1.333,0,2c-0.333,0-0.667,0-1,0c0,1.667,0,3.333,0,5c-0.879,2.157-3.872,3.252-5,5c-0.333,2-0.667,4-1,6
			c-1.667,1.333-3.333,2.667-5,4c-1,3-2,6-3,9c-1.667,1.333-3.333,2.667-5,4c-0.333,2.333-0.667,4.667-1,7c-1,0.667-2,1.333-3,2
			c0,1,0,2,0,3c-0.333,0-0.667,0-1,0c0.333,1.667,0.667,3.333,1,5c-0.333,0-0.667,0-1,0c0,1,0,2,0,3l-2,2c0,1,0,2,0,3
			c-0.333,0-0.667,0-1,0c0,2.333,0,4.667,0,7c-0.299,0.8-2.744,2.415-3,3c0,2.333,0,4.667,0,7c-0.333,0-0.667,0-1,0
			c-0.667,2-1.333,4-2,6c-0.333,0-0.667,0-1,0c0,2,0,4,0,6c-0.333,0-0.667,0-1,0c0,0.667,0,1.333,0,2c-1,0.667-2,1.333-3,2
			c-1,3-2,6-3,9c-1.333,1-2.667,2-4,3c-0.667,2.667-1.333,5.333-2,8c-1.667,1.333-3.333,2.667-5,4c-0.333,3-0.667,6-1,9
			c-0.667,0.333-1.333,0.667-2,1c-0.333,3.333-0.667,6.667-1,10l-3,4c-0.333,3.333-0.667,6.667-1,10c-0.277,0.61-2.681,2.183-3,3
			c0,1.667,0,3.333,0,5c-0.333,0-0.667,0-1,0c-0.667,2-1.333,4-2,6c-0.03,0.057-1.983,1.962-2,2c-0.333,2-0.667,4-1,6
			c-1.333,1-2.667,2-4,3c-1.47,2.607-0.449,5.627-2,8c-1.667,1.333-3.333,2.667-5,4c-0.667,2.333-1.333,4.667-2,7
			c-2.333,1.667-4.667,3.333-7,5c0,1,0,2,0,3c-2.667,2-5.333,4-8,6c-1.565,2.104-1.829,5.624-4,7c-1,0-2,0-3,0c-1.333,2-2.667,4-4,6
			c-2.03,1.985-3.174,0.897-5,2c-0.667,1-1.333,2-2,3c-3.068,2.957-7.295,5.79-12,7c-0.663,2.405-0.326,1.803-2,3
			c-2.105,1.73-5.635,0.675-8,2c-1.333,1.667-2.667,3.333-4,5c-2.667,0.333-5.333,0.667-8,1c-1,1.333-2,2.667-3,4
			c-1.667,0-3.333,0-5,0c0,0.333,0,0.667,0,1c-1,0-2,0-3,0l-4,3c-2.333,0-4.667,0-7,0c0,0.333,0,0.667,0,1c-0.667,0-1.333,0-2,0
			c-0.667,1-1.333,2-2,3c-3.789,1.96-4.493-1.521-9,0c-0.305,0.103-3.694,2.896-4,3c-2,0-4,0-6,0c0-0.333,0-0.667,0-1
			c-1.667,0.333-3.333,0.667-5,1c0,0.333,0,0.667,0,1c-3.333-0.333-6.667-0.667-10-1l-4,3c-0.381,0.034-2.811-0.647-4-1
			c0-0.333,0-0.667,0-1c-2.667,0-5.333,0-8,0c0,0.333,0,0.667,0,1c-2-0.333-4-0.667-6-1c0-0.333,0-0.667,0-1c-4,0-8,0-12,0l-2-2
			c-3.194-1.025-4.774,1.436-7,1c0-0.333,0-0.667,0-1c-1,0-2,0-3,0l-4-3c-3.149-1.065-4.862,1.564-7,1c0-0.333,0-0.667,0-1
			c-0.667,0-1.333,0-2,0c-0.667-1-1.333-2-2-3c-2.662-1.437-7.724-0.137-10-2c-1.068-1.135-0.376-0.047-1-2c-3-0.667-6-1.333-9-2
			c-0.911-0.469-3.87-4.404-5-5c-2.333-0.333-4.667-0.667-7-1c-1.333-1.667-2.667-3.333-4-5c-2-0.333-4-0.667-6-1
			c-1.667-2-3.333-4-5-6c-2.333-0.667-4.667-1.333-7-2c-0.333-1-0.667-2-1-3c-1.696-2.133-4.76-2.326-7-4c-1.98-1.48-1.786-4.294-3-6
			c-3.391-4.765-8.066-2.15-10-11c-3.38-0.865-5.635-2.284-7-5c0-1,0-2,0-3c-2.333-2-4.667-4-7-6c-1.092-1.872-0.723-5.274-2-7
			c-1.333-0.667-2.667-1.333-4-2c-1.397-1.931-0.809-5.855-2-8c-1-0.667-2-1.333-3-2c-1.294-2.09,0.077-4.318-1-7
			c-0.398-0.992-2.493-2.209-3-3c0-0.667,0-1.333,0-2c-0.667-0.333-1.333-0.667-2-1c-0.333-3-0.667-6-1-9
			c-0.343-0.837-2.699-2.362-3-3c-1.272-2.69,0.222-7.067,0-8c-0.02-0.083-2.944-3.842-3-4c0-2.667,0-5.333,0-8c-0.333,0-0.667,0-1,0
			c-0.667-2-1.333-4-2-6c-0.333,0-0.667,0-1,0c0-1.667,0-3.333,0-5c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2c-1-0.667-2-1.333-3-2
			c-1-3-2-6-3-9c-1-0.667-2-1.333-3-2c-1.661-2.544-0.848-6.682-2-9c-1-0.667-2-1.333-3-2c-0.333-1.333-0.667-2.667-1-4
			c-0.333,0-0.667,0-1,0c0-2,0-4,0-6c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2c-0.442-0.756-2.607-2.051-3-3
			c-0.333-2.667-0.667-5.333-1-8c-0.301-0.633-2.694-2.155-3-3c-0.884-2.446,1.176-4.961,1-6c-0.333,0-0.667,0-1,0c0-1,0-2,0-3
			c-0.316-0.649-2.682-2.143-3-3c0-3,0-6,0-9c-0.333,0-0.667,0-1,0c0-0.667,0-1.333,0-2c-0.436-0.749-2.622-2.054-3-3
			c0-1.667,0-3.333,0-5c-1.109-2.719-6.033-5.18-7-7c-0.333-2.333-0.667-4.667-1-7c-1.333-1-2.667-2-4-3c-0.333-2-0.667-4-1-6
			c-0.424-1.001-2.474-2.194-3-3c0-0.667,0-1.333,0-2c-0.667-0.333-1.333-0.667-2-1c0-0.667,0-1.333,0-2c-0.333,0-0.667,0-1,0
			c-1.075-2.685,0.289-4.906-1-7c-1-0.667-2-1.333-3-2c-0.333-2.667-0.667-5.333-1-8c-0.667-0.333-1.333-0.667-2-1
			c-1.989-2.24-4.77-5.197-6-8c-0.333-2.333-0.667-4.667-1-7c-1.651-4.985-3.41-11.799-5-17c0-1.667,0-3.333,0-5
			c-6.258-21.017-9.904-72.326-3-96c0.667-5.333,1.333-10.667,2-16c5.647-17.858,9.661-36.611,17-53c0.333,0,0.667,0,1,0
			c1.725-3.537,2.158-6.53,4-10c0.333,0,0.667,0,1,0c1.464-2.742,1.362-5.376,3-8c0.667-0.333,1.333-0.667,2-1c0.667-2,1.333-4,2-6
			c0.779-1.234,3.212-2.769,4-4c0.333-1.333,0.667-2.667,1-4c0.667-0.333,1.333-0.667,2-1c0-0.667,0-1.333,0-2
			c0.667-0.333,1.333-0.667,2-1c0.333-1.333,0.667-2.667,1-4c0.333,0,0.667,0,1,0c1.51-2.814,1.62-5.109,3-8c0.333,0,0.667,0,1,0
			c0.333-2.333,0.667-4.667,1-7c1.706-4.808,4.32-11.335,6-16c0-1.333,0-2.667,0-4l2-2c0-1,0-2,0-3c0.333,0,0.667,0,1,0
			c0.667-3,1.333-6,2-9l2-2c1.214-2.766,0.77-5.249,2-8c0.333,0,0.667,0,1,0c1.404-2.88,1.5-5.176,3-8c0.333,0,0.667,0,1,0
			c0.667-2,1.333-4,2-6c0.667-0.333,1.333-0.667,2-1c0.667-2,1.333-4,2-6c0.333,0,0.667,0,1,0c1.505-2.819,1.615-5.11,3-8
			c0.333,0,0.667,0,1,0c1-4.333,2-8.667,3-13c2.667-7.999,5.333-16.001,8-24l2-2c0-1,0-2,0-3c11.685-26.237,27.793-48.193,50-64
			c0.667-1,1.333-2,2-3c0.667,0,1.333,0,2,0c0.667-1,1.333-2,2-3c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2
			c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0
			c0.333-0.667,0.667-1.333,1-2c0.667,0,1.333,0,2,0c0.333-0.667,0.667-1.333,1-2c1.333-0.333,2.667-0.667,4-1
			c0.411-0.219,3.645-2.847,4-3c4-0.333,8-0.667,12-1c0-0.333,0-0.667,0-1c1.333,0,2.667,0,4,0l4-3c2.333,0,4.667,0,7,0
			c0.794-0.294,2.421-2.75,3-3c3,0,6,0,9,0c0-0.333,0-0.667,0-1c1,0,2,0,3,0l2-2c3,0,6,0,9,0c0-0.333,0-0.667,0-1c2-0.333,4-0.667,6-1
			c0,0.333,0,0.667,0,1c1.333,0,2.667,0,4,0c0,0.333,0,0.667,0,1c1.667-0.333,3.333-0.667,5-1c0-0.333,0-0.667,0-1
			c3.667,0.333,7.333,0.667,11,1c0.662-0.201,2.488-2.942,5-2c0.667,1,1.333,2,2,3c3-0.333,6-0.667,9-1c0,0.333,0,0.667,0,1
			c1,0,2,0,3,0l2,2c3,0,6,0,9,0c0.583,0.254,2.201,2.705,3,3c3,0,6,0,9,0c0.333,0.667,0.667,1.333,1,2c0.667,0,1.333,0,2,0l2,2
			c1.667-0.333,3.333-0.667,5-1c0.599,0.195,2.707,2.813,3,3c0.667,0,1.333,0,2,0c0.333,0.667,0.667,1.333,1,2c1.667,0,3.333,0,5,0
			c0,0.333,0,0.667,0,1c1.333,0.333,2.667,0.667,4,1c0.667,1,1.333,2,2,3c0.667,0,1.333,0,2,0c0,0.333,0,0.667,0,1
			c2,0.333,4,0.667,6,1c1,1.333,2,2.667,3,4c2,0.333,4,0.667,6,1c0.333,0.667,0.667,1.333,1,2C344.071,32.741,346.105,34.929,351,36z"
			/>
       </clipPath>
       <image class="product" clip-path="url(#cloudshape-mask)" height="92.61%" width="89.15%" xlink:href="{{assets}}/img/gx_narrative_product.jpg" />
    </g>
</svg>

<div class="main-content">
	<h1>Blue elements is a new narrative built from fragments of old stories</h1>
	<p>
		Stories of kings and queens; Chinese flower patterns; the infinity of blue; and a brave designer who dismantled a 240-year-old design tradition to bring it together and bring it to life in a new form. 
	</p>
	<p>
		Louise Campbell’s Blue Elements is a spectacular mixture of Flora Danica, Blue Fluted Plain and the classic flutes. A playful use of classical elements, where flowers grow wild, flutes suddenly turn smooth and the edge is interrupted by lace rim.
	</p>

	<p>
		<a class="video" href="https://player.vimeo.com/video/123194732">
			{{icon 'royalcph'}}
			<img src="{{assets}}/img/gx_video_production.jpg" alt="Blue Elements production">
		</a>
	</p>
</div>

<div class="pricing-info">
	<p>
		<span class="product-name">Fad</span><br/>
		<span class="product-msrp">649,00 DKK <span class="label">vejl.udsalgspris</span></span>
	</p>
</div>	

