---
layout: default.hbs
title: Sky Shaped Dish
is_aggr: true
---


{{#withSort pages "data.sortorder"}}
	{{#isnt data.is_aggr true}}
		<section class="content-section {{default data.class ''}}">
			<div class="content-wrapper">
				{{{aggregate this.src}}}
			</div>
		</section>
	{{/isnt}}
{{/withSort}}
