$logo-royalcph-simple-font-family: "icons";
$logo-royalcph-simple-value: "\e001";
$logo-royalcph-simple: "icons" "\e001";
$icon_play-font-family: "icons";
$icon_play-value: "\e00a";
$icon_play: "icons" "\e00a";
$logo-imerco-font-family: "icons";
$logo-imerco-value: "\e005";
$logo-imerco: "icons" "\e005";
$logo-illumsbolighus-font-family: "icons";
$logo-illumsbolighus-value: "\e006";
$logo-illumsbolighus: "icons" "\e006";
$logo-bahne-font-family: "icons";
$logo-bahne-value: "\e007";
$logo-bahne: "icons" "\e007";
$logo-royalcph-font-family: "icons";
$logo-royalcph-value: "\e000";
$logo-royalcph: "icons" "\e000";
$icon_map_marker-font-family: "icons";
$icon_map_marker-value: "\e00b";
$icon_map_marker: "icons" "\e00b";
$icon_scroll_up-font-family: "icons";
$icon_scroll_up-value: "\e008";
$icon_scroll_up: "icons" "\e008";
$logo-missing-font-family: "icons";
$logo-missing-value: "\e002";
$logo-missing: "icons" "\e002";
$icon_arrow_left-font-family: "icons";
$icon_arrow_left-value: "\e00d";
$icon_arrow_left: "icons" "\e00d";
$logo-kopogkande-font-family: "icons";
$logo-kopogkande-value: "\e003";
$logo-kopogkande: "icons" "\e003";
$logo-inspiration-font-family: "icons";
$logo-inspiration-value: "\e004";
$logo-inspiration: "icons" "\e004";
$icon_scroll_down-font-family: "icons";
$icon_scroll_down-value: "\e009";
$icon_scroll_down: "icons" "\e009";
$icon_arrow_right-font-family: "icons";
$icon_arrow_right-value: "\e00c";
$icon_arrow_right: "icons" "\e00c";

@mixin icon-font-family($char) {
  font-family: nth($char, 1);
}

@mixin icon-font() {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@mixin icon-content($char) {
  content: nth($char, 2);
}

@mixin icon($char) {
  @include icon-font-family($char);
  @include icon-font();

  &:before {
    @include icon-content($char);
  }
}

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
