
/*
@font-face {
    font-family: "HelveticaNeueW01";
    src: url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a-abf75fb0048a6453487583d97e540c886a30bb40.eot?#iefix");
    src: local('HelveticaNeue-Light'),
         local('Helvetica Neue Light'),
         url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a-abf75fb0048a6453487583d97e540c886a30bb40.eot?#iefix") format("eot"), 
    	 url("../fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656-d3f5ed72722efaf436265c43a014fdd0cfd77737.woff") format("woff"),
    	 url("../fonts/688ab72b-4deb-4e15-a088-89166978d469-43777e352c10b5e05939db144bee82b73d858491.ttf") format("truetype"), 
    	 url("../fonts/7816f72f-f47e-4715-8cd7-960e3723846a-72fb4fc5fc78ecb74c1a3c1712129eb4d0ebaa6b.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: 300;
    font-style: normal;
}
*/

@font-face {
  font-family: 'bodoni-svtytwo-1';
  src: url('../fonts/BodoniSvtyTwoITCTTBook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BodoniSvtyTwoITCTTBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ // format('eot') ?
       url('../fonts/BodoniSvtyTwoITCTTBook.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BodoniSvtyTwoITCTTBook.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BodoniSvtyTwoITCTTBook.svg#1a565e8a76ea597cd4cd4388d4d08105') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'bodoni-svtytwo-1';
  src: url('../fonts/BodoniSvtyTwoITCTTBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BodoniSvtyTwoITCTTBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BodoniSvtyTwoITCTTBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BodoniSvtyTwoITCTTBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BodoniSvtyTwoITCTTBold.svg#9aa64ce3c4781d177662f1291723ead4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'bodoni-svtytwo-1';
  src: url('../fonts/BodoniSvtyTwoITCTTBookIta.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BodoniSvtyTwoITCTTBookIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BodoniSvtyTwoITCTTBookIta.woff') format('woff'), /* Modern Browsers */
       url('../fonts/BodoniSvtyTwoITCTTBookIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BodoniSvtyTwoITCTTBookIta.svg#db7b7489795eca1c2c221fea4c9f11a3') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}




*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
table,
thead,
tbody,
tfoot,
input,
textarea,
button,
select {
	font-family: $font-body;
}

body {
	color: $color-text-body;
    @include adjust-leading-to($adjusted-line-height / $base-line-height);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: $weight-normal;
  color: inherit;
}

h1 {
    @include adjust-font-size-to($size-xxl);
    @include adjust-leading-to(6);
    margin: rhythm(6) 0;
    text-transform: uppercase;

    @include breakpoint($sm) {
    	@include adjust-font-size-to($size-xxxl);
      @include adjust-leading-to(8);
    }
}
h2 {
    @include adjust-font-size-to($size-xxl);
    @include adjust-leading-to(5);
    margin: rhythm(5) 0;
    text-transform: uppercase;

}

h3 {
    @include adjust-font-size-to($size-xl);
    margin: rhythm(4) 0 rhythm(2);
}

h4 {
    @include adjust-font-size-to($size-lg);
    margin: rhythm(3) 0;
}

h5 {
    @include adjust-font-size-to($size-md);
    margin: rhythm(3) 0;
}

p,
ul,
ol {
	margin: rhythm(6) 0;
	color: inherit;

    &:first-child {
      margin-top:0;
    }
    &:last-child {
      margin-bottom:0;
    }

    & + h2 {
        margin-top: rhythm(3)
    }
    & + h3 {
        margin-top: rhythm(3)
    }
}

a {
	text-decoration: none;
	
	&,
	&:visited {
		color: $color-links;		
	}
	
	&:active,
	&:hover {
		color: $color-links-active;
	}

    .icon {
        align:absmiddle
    }

}

.caps {
	text-transform: uppercase;
	font-style: normal;
}

