
<header class="page-header">
	<nav class="country">
		<ul>
			<li><a href="#">Denmark</a></li>
			<li><a class="active" href="#">International</a></li>
		</ul>
	</nav>

	<h1>
		<a href="single-page.html">
			{{icon 'logo-royalcph-simple'}}
			<span>Royal Copenhagen</span>
		</a>
	</h1>

</header>