

$color-gold: #ffeba2;

$color-background: #232a32;

$color-brand: #1a2550;
$color-primary: $color-gold;

$color-borders: #bcbcbc;
$color-borders-light: #e8e8e8;


$color-text-body: $color-gold;
$color-text-headers: $color-gold;
$color-text-dark: #282b20;
$color-links: $color-primary;
$color-links-active: $color-primary;

