

$color-gold: #ffeba2;

$color-background: #232a32;

$color-brand: #16234d;
$color-primary: $color-gold;

$color-borders: #bcbcbc;
$color-borders-light: #e8e8e8;


$color-text-body: $color-gold;
$color-text-headers: $color-gold;
$color-text-dark: #282b20;
$color-links: $color-primary;
$color-links-active: $color-primary;



%gold-effect {
	 color: $color-gold;
	
	/* autoprefixer: off */
	-webkit-text-fill-color: transparent;
	background: url(../img/bg_gold.jpg) repeat, -webkit-linear-gradient(transparent, transparent);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
/*
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-animation-name: gold-animation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
*/
}


@-webkit-keyframes gold-animation {
	0% {background-position: right top;}
	100% {background-position: left top;}
}
