
$content-margin: (20px / $base-font-size) * 1rem;
$content-margin-em: (20px / $base-font-size) * 1em;

$xs: 30em;
$sm: 45em;
$md: 60em;
$lg-abs: 960px;
$lg: ($lg-abs / $base-font-size) * 1em;
$lg-bp: $lg + 2 * $content-margin-em ;

/*
@include add-grid(12);
@include add-gutter(.3);
@include sgs-change('output', 'isolation');
*/
