
.section-designer {

	min-height:465px;
	background:#f0f0f0 url(../img/gx_louise_campbell.jpg) no-repeat 45% 0;

	.no-touch & {
		background-attachment: fixed;
		background-size: cover;
	}

	color: $color-text-dark;

	.content-wrapper {
		padding-top:rhythm(8);
		padding-bottom:rhythm(8);
		width:100%;

	}

	.main-content {
		display:inline;
		float:left;

		width: rel-width(140px);
		margin-left: 5%;
		
		@include breakpoint($sm) {
			margin-left: perc-width(170px);
		}
	}
	
	h1 {
		@include adjust-font-size-to($size-xl);
		@include breakpoint($sm) {
			@include adjust-font-size-to($size-xxl);
		}
	}

	p {
		font-style:italic;
	}


	@include breakpoint($sm) {

		display:flex;
		align-items: center;	

		background-position: 50% 0;
	}
}