
.section-facts {
	@extend %gold-main-content;
	position:static;
	overflow: hidden;

	.content-wrapper {
		position:static;
	}

	svg {
		display:inline;
		float:right;
		height:600px;
		width:600px;
		margin-top:-50px;
		margin-right: -450px;
		margin-bottom: -600px;

		@include breakpoint($xs) {
			margin-right: -400px;

		}

		@include breakpoint($sm) {
			height:790px;
			width:790px;
			margin-bottom: -790px;
			margin-right: -450px;

		}
		@include breakpoint($md) {
			margin-right: -330px;
		}
	}

	.main-content {
		width: 50%;
		margin-left: 5%;
		min-height: 500px;

		p {
			@include adjust-font-size-to($size-md);
			font-style: italic;
		}

		@include breakpoint($xs) {
			width: 60%;

			p {
				@include adjust-font-size-to($size-xl);
			}
		}

		@include breakpoint($sm) {
			min-height: 490px;
			width: perc-width(300px);
			margin-left: perc-width(170px);

			p {
				@include adjust-font-size-to($size-xxl);
			}
		}
	}
	/*
	.pricing-info {

		position:absolute;
		top:580px;
		right: 80px;

		@include breakpoint($xs) {
			top: 440px;
			right: 200px;
		}
		@include breakpoint($sm) {
			top:600px;
			right:340px;
		}
		@include breakpoint($md) {
			right:420px;
			top: 650px;
		}
	}
	*/
	.pricing-info {
		min-height:250px;
		margin-left: 50%;
		@include breakpoint($sm) {
			min-height: 300px;
			margin-left:0;
		}
		@include breakpoint($lg) {
			margin-right: 10%;
		}

	}

	ul.tiles {
		clear:both;
		margin-left: -$content-margin;
		margin-right: -$content-margin;
	}

}

.tiles {
	position:static;
	display:block;
	overflow:hidden;
	margin:-20% 0 0;
	padding:0;
	list-style:none;
	clear:both;

	li {
		position:relative;
		float:left;
		margin:0 -100% 0 0;
		padding: 0;
		width:20%;
		overflow: hidden;

		&:before{
			content: "";
			display: block;
			margin-top: 100%;
		}

		img {
			position:absolute;
			top:0;
			left:0;
			width:100%;
		}

		.name {
			margin: 1em 15% 0;
			text-align: left;
			font-style: italic;
		}

		.elm-content {
			position:absolute;
		}

	}

	.fact {
		width:40%;
		.elm-content {
			vertical-align: middle;
			text-align: center;
			top:50%;
			left:0;
			padding:8%;
			text-shadow: none;
			transform: translate(0, -50%);
			font-style: italic;

			@include adjust-font-size-to($size-sm);
			
			@include breakpoint(0 $xs) {
				@include adjust-leading-to(3);
			}

			@include breakpoint($xs) {
				@include adjust-font-size-to($size-lg);
				@include adjust-leading-to(4);
			}
			@include breakpoint($sm) {
				@include adjust-font-size-to($size-xxl);
			}
		}
	}

	.fact-blue {
		background: $color-brand url(../img/bg_texture_blue.jpg);
		background-size: cover;
		color:#fff;
	}
	.fact-white {
		background:#fff url(../img/bg_texture_white.jpg);
		background-size: cover;
		color: $color-brand;
	}

	.snapshot {
		position:relative; 
		.elm-content {
			position:absolute;
			display:none;
			width:100%;
			bottom:-100%;
			max-height: 100%;
			padding:9%;
			background: rgba($color-brand, .8);
			color:#fff;
			text-shadow: none;
			text-align: center;
			overflow: hidden;
			@include adjust-font-size-to($size-sm);

			transform: translate3d(0,0,0);
			transition: bottom .3s ease;

			@include breakpoint($sm) {
				display: block;
			}
			@include breakpoint($md) {
				@include adjust-font-size-to($size-md);
			}
		}
		
		q {
			margin:0;
		}

		.name {
			
			transition: transform .3s ease;
		}
		.name {
			position:relative;
			transition-delay: .2s;
			transform: translate3d(0,100%,0);
		}


		&.over {
			.elm-content {
				bottom: 0;
			}
			.name {
				transform: translate3d(0,0,0);		
			}
		}


	}

	#tiles-mood-1 {
		position:static;
		@include tile-position(0, 2);
		width: 80%;

		background: url(../img/gx_facts_mood01.jpg) no-repeat 50% 50%;
		background-attachment: fixed;
		background-size: cover;

		.touch & {
			min-height: none;
			background-attachment: scroll;
		}

		img {
			display: none;
		}
	}

	#tiles-fact-1 {
		@include tile-position(0, 1);
	}
	#tiles-fact-2 {
		@include tile-position(3, 3);
	}
	#tiles-fact-3 {
		@include tile-position(2, 7);
	}

	#tiles-snapshot-0 {
		@include tile-position(1, 0);
	}
	#tiles-snapshot-1 {
		@include tile-position(2, 0);
	}
	#tiles-snapshot-2 {
		@include tile-position(3, 0);
	}

	#tiles-snapshot-3 {
		@include tile-position(2, 1);
	}
	#tiles-snapshot-4 {
		@include tile-position(3, 1);
	}
	#tiles-snapshot-5 {
		@include tile-position(4, 1);
	}

	#tiles-snapshot-6 {
		@include tile-position(3, 2);
	}

	#tiles-snapshot-7 {
		@include tile-position(0, 5);
	}
	#tiles-snapshot-8 {
		@include tile-position(4, 5);
	}

	#tiles-snapshot-9 {
		@include tile-position(0, 6);
	}
	#tiles-snapshot-10 {
		@include tile-position(1, 6);
	}
	#tiles-snapshot-11 {
		@include tile-position(2, 6);
	}
	#tiles-snapshot-12 {
		@include tile-position(3, 6);
	}
	#tiles-snapshot-13 {
		@include tile-position(4, 6);
	}

	#tiles-snapshot-14 {
		@include tile-position(1, 7);
	}

}
