
.section-mood-1 {

	background-image: url(../img/gx_mood01.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;

	.no-touch & {
		min-height:465px;
		background-attachment: fixed;
		background-size: cover;
		
		img {
			opacity: 0;
		}
	}
	
	.content-wrapper {
		margin-top:0;
		margin-bottom:0;
		padding:0;
	}
}

