
.section-mood-1 {

	background-image: url(../img/gx_mood01.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;

	min-height:465px;
	background-attachment: fixed;
	background-size: cover;
	position: static;
	
	img {
		opacity: 0;
	}

	.touch & {
		min-height: 0;
		background: none;

		img {
			opacity: 1;
		}
	}
	
	.content-wrapper {
		margin-top:0;
		margin-bottom:0;
		padding:0;
	}
}

