

%gold-main-content {
	@extend %text-emboss-shadow;

	.main-content {
		h1,
		h2 {
			+ p:nth-of-type(1) {
				@include adjust-font-size-to($size-xl);
				font-style: italic;
			}
		}
	}
}

.content-section {
	position:relative;
//	overflow:hidden;

	.content-wrapper {
		padding-top: rhythm(10);
		padding-bottom: rhythm(10);

		@include breakpoint($sm) {
			padding-top: rhythm(20);
			padding-bottom: rhythm(20);
		}
	}


	&:nth-of-type(1) {
		.content-wrapper {
			padding-top:0;
		}
	}
}