
.page-footer {
	@extend %content-wrapper;
	margin-top: rhythm(11);
	margin-bottom: rhythm(11);

	.icon + span {
		position: absolute;
		left:-9999em;
		opacity: 0;
	}

	.royalcph-logo {
		margin: rhythm(12) 0;
		text-align: center;
		@include adjust-font-size-to(45px);
	}
}

ul.logos {
	text-align:center;

	margin:0;
	padding:0;
	list-style:none;

	li {
		display:inline;
		margin: 0 1em;
		padding: 0;
		
		@include breakpoint($sm) {
			&:nth-of-type(5):after {
				content:"\A"; 
				white-space:pre; 
			}
		}

	}

	.icon {
		@include adjust-font-size-to(65px);
	}
}

