


.form-col {
	display:inline;
	float:left;
	width: 48%;

	&:nth-of-type(2n+2) {
		float:right;
	}
}


label {
	display:block;
	clear:both;
	overflow:hidden;

	.label {
		display:block;
	}
}

input,
textarea,
select,
button {
	@include adjust-font-size-to($size-md);
}

button {
	background:$color-brand;
	color:#fff;
	text-transform: uppercase;
	text-align:center;
	border:0;
	padding: rhythm(1) rhythm(2);
	@include adjust-font-size-to($size-sm);
}
.input-text {
	input {
		border: 1px solid $color-borders;
		padding: 3px rhythm(2);
	}
}

textarea {
	background:#ededee;
	border:0;
	padding:rhythm(2);
	margin: rhythm(2) 0;
	height: rhythm(22);
}


.input-text,
.input-textarea,
.input-select {
	width:100%;

	input,
	textarea,
	select {
		width: 100%;
	}
}
label {
	width:100%;
	textarea {
		width: 100%;
	}
}